<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | New Ferrari Sports Car</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/gallery">Gallery</a>
            <a href="/about">About</a>        
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>
        <section class="intro">
            <h2>About Me</h2>
            <img src="images/darshanmistry.png" alt="Darshan Mistry" class="profile-photo">
            <h2>Hello! My name is Darshan Mistry.</h2>
            <p>I am currently residing in Waterloo, Ontario, but I originally come from India. I have a passion for technology and a dream to become a software engineer at Google. My journey has been filled with learning, coding, and constantly pushing the boundaries of my knowledge and skills.</p>
            <p>Feel free to reach out to me at <a href="mailto:Iam@darshanmistry.in">Iam@darshanmistry.in</a>.</p>
            <p>Check out more about me at <a href="http://darshanmistry.info">darshanmistry.info</a>.</p>
            <p>My aspiration is to become a software engineer at top multinational corporations like Google and Amazon. My goal is a testament to my drive and determination to excel in the field of technology. With a focus on gaining the necessary skills and experience, I am dedicated to pursuing this career path and contributing to the innovative work of these industry-leading companies.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Ferrari | Created by Darshan Mistry with ❤️</p>
    </footer>
</body>
</html>
