<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/gallery">Gallery</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>
        <section class="intro">
            <h2>Contact Us</h2>
            <p>
                Feel free to get in touch with me for any inquiries or feedback. I am here to assist you and provide you with the information you need.
            </p>
            <div class="contact-info">
                <h3>Address:</h3>
                <p>Waterloo - Ontario , Canada</p>
                <h3>Email:</h3>
                <p>iam@darshanmistry.in</p>
                <h3>Phone:</h3>
                <p>+548-333-1489</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46319.38434869794!2d-80.58791885152759!3d43.48227338285962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882bf1565ffe672b%3A0x5037b28c7231d90!2sWaterloo%2C%20ON!5e0!3m2!1sen!2sca!4v1718218810900!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Ferrari | Created by Darshan Mistry with ❤️</p>
    </footer>
</body>
</html>
    s