<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/gallery">Gallery</a>
            <a href="/about">About</a>        
            <a href="/contact">Contact</a>
          </nav>
    </header>
    <main>
        <section class="gallery">
            <h2>Ferrari Portofino M Gallery</h2>
            <div class="images">
                <img src="images/galleryimage1.jpg" alt="Gallery Image 1" class="galleryimages">
                <img src="images/galleryimage2.jpg" alt="Gallery Image 2" class="galleryimages">
                <img src="images/galleryimage3.jpg" alt="Gallery Image 3" class="galleryimages">                
            </div>
            <div class="images">
                <img src="images/galleryimage4.jpg" alt="Gallery Image 1" class="galleryimages">
                <img src="images/galleryimage5.jpg" alt="Gallery Image 2" class="galleryimages">
                <img src="images/galleryimage6.jpg" alt="Gallery Image 3" class="galleryimages">                
            </div>
            <div class="images">
                <img src="images/galleryimage7.jpg" alt="Gallery Image 1" class="galleryimages">
                <img src="images/galleryimage8.jpg" alt="Gallery Image 2" class="galleryimages">
                <img src="images/galleryimage9.jpg" alt="Gallery Image 3" class="galleryimages">                
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Ferrari | Created by Darshan Mistry with ❤️</p>
    </footer>
</body>
</html>
