<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/gallery">Gallery</a>
        <a href="/about">About</a>        
        <a href="/contact">Contact</a>
      </nav>
    </header>
    <main>
      <section class="intro">
        <h2>Ferrari Portofino M</h2>
        <div class="images">
            <img src="images/image1.jpg" alt="Feature1" />
            <img src="images/image2.jpg" alt="Feature2" />
          </div>
        <p>
          The Ferrari Portofino M is the embodiment of the perfect Grand Tourer,
          blending high-performance capabilities with luxurious comfort and
          cutting-edge technology. The “M” in its name stands for “Modificata,”
          which means “modified” in Italian, indicating the evolutionary
          enhancements made over its predecessor, the Ferrari Portofino. At its
          heart lies a 3.9-liter twin-turbo V8 engine, which produces an
          astonishing 620 horsepower, an increase of 20 horsepower from the
          previous model. 
          </p>
          <p>
          This powerplant allows the Portofino M to sprint from
          0 to 100 km/h in just 3.45 seconds and reach a top speed of 320 km/h.
          The new 8-speed dual-clutch transmission ensures smoother and faster
          gear changes, contributing to both performance and driving pleasure.
          The exterior design of the Portofino M is a harmonious blend of
          elegance and aggression. </p> 
          <p>revised front fascia, featuring a new
          bumper design and air intakes, not only enhances aerodynamics but also
          gives the car a more assertive presence on the road. The sleek lines
          and sculpted bodywork flow seamlessly from front to back, culminating
          in a retractable hardtop that transforms the coupe into a convertible
          in mere seconds.</p>
        </p>        
      </section>
      <section class="news">
        <h2>Latest News</h2>
        <p>
            Stay informed with the latest updates on the new Ferrari Portofino M. Explore the newest advancements in performance, cutting-edge technology, and luxurious design. Be the first to know about exclusive features, upcoming enhancements, and all the exciting news surrounding this iconic sports car.</p>
      </section>
    </main>
    <footer>
      <p>&copy; 2024 Ferrari | Created by Darshan Mistry with ❤️</p>
    </footer>
  </body>
</html>
